.bg-green-gray{
    background-color:#545F51;
}
.mw5-6-ns{
    max-width:24rem;
}
.b--green-gray{
    border-color:#545F51;
}
green-gray{
    color:#545F51;
}.hover-green-gray:focus,.hover-green-gray:hover{
     color:#545F51
 }

